package pages

import "server/web/templates/components"
import "server/web/templates/layouts"

templ Index(name string) {
    @layouts.Base("Index") {
        <h1>Température</h1>
        @components.Thermometer(30)

        <h1>Ajouter...</h1>
        @components.Send()

        <h1>Historique</h1>
        @components.Graph()
    }
}
